# test:run
Chạy đơn vị thử nghiệm từ các thử nghiệm có sẵn cho ứng dụng

**Usage:**
```
$ drupal test:run [arguments] [options]
$ tr  
```

## Các tùy chọn có sẵn
Tùy chọn | Các chi tiết
-------|-------------
--url | commands.test.run.arguments.url

## Các đối số có sẵn
Đối số | Các chi tiết
---------|-------------
test-class | Lớp thử nghiệm
test-methods | Test method(s) to be run
