# test:run
Chạy đơn vị thử nghiệm từ các thử nghiệm có sẵn cho ứng dụng

**Usage:**
```
drupal test:run [arguments] [options]
ter
tr
```

## Available options
Option | Details
-------|-------------
--url | commands.test.run.arguments.url

## Available arguments
Argument | Details
---------|-------------
test-class | Lớp thử nghiệm
test-methods | Test method(s) to be run
