# test:run
Chạy đơn vị thử nghiệm từ các thử nghiệm có sẵn cho ứng dụng

**commands.generate.doc.gitbook.messages.usage:**
```
$ drupal test:run [arguments] [options]
$ ter  
$ tr  
```

## commands.generate.doc.gitbook.messages.options
commands.generate.doc.gitbook.messages.option | commands.generate.doc.gitbook.messages.details
-------|-------------
--url | commands.test.run.arguments.url

## commands.generate.doc.gitbook.messages.arguments
commands.generate.doc.gitbook.messages.argument | commands.generate.doc.gitbook.messages.details
---------|-------------
test-class | Lớp thử nghiệm
test-methods | Test method(s) to be run
