# test:run
Chạy đơn vị thử nghiệm từ các thử nghiệm có sẵn cho ứng dụng

**application.gitbook.messages.usage:**
```
drupal test:run [arguments] [options]
ter
tr
```

## application.gitbook.messages.options
application.gitbook.messages.option | application.gitbook.messages.details
-------|-------------
--url | commands.test.run.arguments.url

## application.gitbook.messages.arguments
application.gitbook.messages.argument | application.gitbook.messages.details
---------|-------------
test-class | Lớp thử nghiệm
test-methods | Test method(s) to be run
