# test:run
Ejecuta un test unitario de los disponibles en la aplicación

**Usage:**
```
drupal test:run [arguments] [options]
ter
tr
```

## Available options
Option | Details
-------|-------------
--url | commands.test.run.arguments.url

## Available arguments
Argument | Details
---------|-------------
test-class | Clase del test
test-methods | Métodos de prueba a ejecutar
