# test:run
Ejecuta un test unitario de los disponibles en la aplicación

**Uso:**
```
$ drupal test:run [arguments] [options]
$ tr  
```

## Opciones disponibles
Opción | Detalles
-------|-------------
--url | commands.test.run.arguments.url

## Argumentos disponibles
Argumento | Detalles
---------|-------------
test-class | Clase del test
test-methods | Métodos de prueba a ejecutar
