# test:run
ユニットテストの実行

**使い方:**
```
$ drupal test:run [arguments] [options]
$ tr  
```

## 利用可能なオプション
オプション | 詳細
-------|-------------
--url | commands.test.run.arguments.url

## 利用可能な引数
引数 | 詳細
---------|-------------
test-class | テストクラス
test-methods | Test method(s) to be run
