# test:run
运行这个程序有的测试单元

**Usage:**
```
drupal test:run [arguments] [options]
ter
tr
```

## Available options
Option | Details
-------|-------------
--url | commands.test.run.arguments.url

## Available arguments
Argument | Details
---------|-------------
test-class | 测试类
test-methods | 被运行的测试方法
