# test:run
运行这个程序有的测试单元

**使用方法:**
```
drupal test:run [arguments] [options]
ter
```

## 可用选项
选项 | 详细信息
-------|-------------
--url | Test url

## 可用参数
参数 | 详细信息
---------|-------------
test-class | 测试类
test-methods | 被运行的测试方法
