# test:run
运行这个程序有的测试单元

**commands.generate.doc.gitbook.messages.usage:**
```
$ drupal test:run [arguments] [options]
$ ter  
$ tr  
```

## commands.generate.doc.gitbook.messages.options
commands.generate.doc.gitbook.messages.option | commands.generate.doc.gitbook.messages.details
-------|-------------
--url | commands.test.run.arguments.url

## commands.generate.doc.gitbook.messages.arguments
commands.generate.doc.gitbook.messages.argument | commands.generate.doc.gitbook.messages.details
---------|-------------
test-class | 测试类
test-methods | 被运行的测试方法
