# test:run
Execută un test dintre testele disponibile in aplicaţie.

**Folosire:**
```
$ drupal test:run [arguments] [options]
$ tr  
```

## Opțiuni disponibile
Opțiune | Detalii
-------|-------------
--url | commands.test.run.arguments.url

## Argumente disponibile
Argument | Detalii
---------|-------------
test-class | Clasa de test
test-methods | Test method(s) to be run
