# test:run
Execută un test dintre testele disponibile in aplicaţie.

**Usage:**
```
drupal test:run [arguments] [options]
ter
tr
```

## Available options
Option | Details
-------|-------------
--url | commands.test.run.arguments.url

## Available arguments
Argument | Details
---------|-------------
test-class | Clasa de test
test-methods | Test method(s) to be run
