# test:run
Executar testes unitários disponíveis para a aplicação

**Uso:**
```
$ drupal test:run [arguments] [options]
$ tr  
```

## Opções disponíveis
Opção | Detalhes
-------|-------------
--url | commands.test.run.arguments.url

## Argumentos disponíveis
Argumento | Detalhes
---------|-------------
test-class | Classe de teste
test-methods | Test method(s) to be run
