# test:run
Lance un test unitaire à partir des tests mis à disposition par l'application

**application.gitbook.messages.usage:**
```
drupal test:run [arguments] [options]
ter
tr
```

## application.gitbook.messages.options
application.gitbook.messages.option | application.gitbook.messages.details
-------|-------------
--url | commands.test.run.arguments.url

## application.gitbook.messages.arguments
application.gitbook.messages.argument | application.gitbook.messages.details
---------|-------------
test-class | Classe de test
test-methods | Méthode(s) de test à exécuter
