# test:run
Lance un test unitaire à partir des tests mis à disposition par l'application

**Usage:**
```
drupal test:run [arguments] [options]
ter
```

## Available options
Option | Details
-------|-------------
--url | Test url

## Available arguments
Argument | Details
---------|-------------
test-class | Classe de test
test-methods | Méthode(s) de test à exécuter
