# test:run
The **test:run** command Egységteszt futtatása az alkalmazás számára elérhető tesztek közül

**Usage:**
```
$ drupal test:run [arguments] [options] 
$ tr  
```

## Available options
Option | Details
-------|-------------
--url | commands.test.run.arguments.url

## Available arguments
Argument | Details
---------|-------------
test-class | Tesztosztály
test-methods | commands.test.run.arguments.test-methods
