# test:run
Egységteszt futtatása az alkalmazás számára elérhető tesztek közül

**Használat:**
```
$ drupal test:run [arguments] [options]
$ tr  
```

## Rendelkezésre álló beállítások
Beállítás | Részletek
-------|-------------
--url | commands.test.run.arguments.url

## Rendelkezésre álló argumentumok
Argumentum | Részletek
---------|-------------
test-class | Tesztosztály
test-methods | Test method(s) to be run
