# test:run
Egységteszt futtatása az alkalmazás számára elérhető tesztek közül

**Usage:**
```
drupal test:run [arguments] [options]
ter
tr
```

## Available options
Option | Details
-------|-------------
--url | commands.test.run.arguments.url

## Available arguments
Argument | Details
---------|-------------
test-class | Tesztosztály
test-methods | Test method(s) to be run
