# test:run
執行網站應用中可用的單元測試

**Usage:**
```
drupal test:run [arguments] [options]
ter
tr
```

## Available options
Option | Details
-------|-------------
--url | commands.test.run.arguments.url

## Available arguments
Argument | Details
---------|-------------
test-class | 要測試的類別 （Class）
test-methods | 要測試的類別方法 （Method）
