# test:run
运行这个程序有的测试单元

**用法:**
```
$ drupal test:run [arguments] [options]
$ tr  
```

## 可用选项
选项 | 详细
-------|-------------
--url | commands.test.run.arguments.url

## 可用参数
参数 | 详细
---------|-------------
test-class | 测试类
test-methods | Test method(s) to be run
