# test:run
The **test:run** command Run Test unit from tests available for application

**Usage:**
```
$ drupal test:run [arguments] [options] 
$ tr  
```

## Available options
Option | Details
-------|-------------
--url | commands.test.run.arguments.url

## Available arguments
Argument | Details
---------|-------------
test-class | Test Class
