# test:run
commands.generate.doc.output.command.command_description

**commands.generate.doc.output.command.usage:**
```
$ drupal test:run [arguments] [options] 
```

## commands.generate.doc.output.command.options
commands.generate.doc.output.command.options | commands.generate.doc.output.command.details
-------|-------------
--url | commands.test.run.arguments.url

## commands.generate.doc.output.command.arguments
commands.generate.doc.output.command.argument | commands.generate.doc.output.command.details
---------|-------------
test-class | Test Class
