# test:run
Run Test unit from tests available for application

**commands.generate.doc.gitbook.messages.usage:**
```
drupal test:run [arguments] [options]
ter
```

## commands.generate.doc.gitbook.messages.options
commands.generate.doc.gitbook.messages.option | commands.generate.doc.gitbook.messages.details
-------|-------------
--url | commands.test.run.arguments.url

## commands.generate.doc.gitbook.messages.arguments
commands.generate.doc.gitbook.messages.argument | commands.generate.doc.gitbook.messages.details
---------|-------------
test-class | Test Class
test-methods | Test method(s) to be run
