# test:run
अनुप्रयोग के उपलब्ध परीक्षणों मे से परिक्षण यूनिट को चलायें

**commands.generate.doc.gitbook.messages.usage:**
```
$ drupal test:run [arguments] [options]
$ ter  
$ tr  
```

## commands.generate.doc.gitbook.messages.options
commands.generate.doc.gitbook.messages.option | commands.generate.doc.gitbook.messages.details
-------|-------------
--url | commands.test.run.arguments.url

## commands.generate.doc.gitbook.messages.arguments
commands.generate.doc.gitbook.messages.argument | commands.generate.doc.gitbook.messages.details
---------|-------------
test-class | परिक्षण क्लास
test-methods | Test method(s) to be run
