# test:run
अनुप्रयोग के उपलब्ध परीक्षणों मे से परिक्षण यूनिट को चलायें

**प्रयोग:**
```
$ drupal test:run [arguments] [options]
$ tr  
```

## उपलब्ध विकल्प
विकल्प | विवरण
-------|-------------
--url | commands.test.run.arguments.url

## उपलब्ध तर्कों
तर्क | विवरण
---------|-------------
test-class | परिक्षण क्लास
test-methods | Test method(s) to be run
