# test:run
अनुप्रयोग के उपलब्ध परीक्षणों मे से परिक्षण यूनिट को चलायें

**application.gitbook.messages.usage:**
```
drupal test:run [arguments] [options]
ter
tr
```

## application.gitbook.messages.options
application.gitbook.messages.option | application.gitbook.messages.details
-------|-------------
--url | commands.test.run.arguments.url

## application.gitbook.messages.arguments
application.gitbook.messages.argument | application.gitbook.messages.details
---------|-------------
test-class | परिक्षण क्लास
test-methods | Test method(s) to be run
