# test:run
The **test:run** command अनुप्रयोग के उपलब्ध परीक्षणों मे से परिक्षण यूनिट को चलायें

**Usage:**
```
$ drupal test:run [arguments] [options] 
$ tr  
```

## Available options
Option | Details
-------|-------------
--url | commands.test.run.arguments.url

## Available arguments
Argument | Details
---------|-------------
test-class | परिक्षण क्लास
