# test:run
अनुप्रयोग के उपलब्ध परीक्षणों मे से परिक्षण यूनिट को चलायें

**Usage:**
```
drupal test:run [arguments] [options]
ter
```

## Available options
Option | Details
-------|-------------
--url | Test url

## Available arguments
Argument | Details
---------|-------------
test-class | परिक्षण क्लास
test-methods | Test method(s) to be run
