# test:run
ऍप्लिकेशनसाठी उपलब्ध असलेल्या चाचण्यांमधून टेस्ट युनिट चालवा.

**application.gitbook.messages.usage:**
```
drupal test:run [arguments] [options]
ter
tr
```

## application.gitbook.messages.options
application.gitbook.messages.option | application.gitbook.messages.details
-------|-------------
--url | commands.test.run.arguments.url

## application.gitbook.messages.arguments
application.gitbook.messages.argument | application.gitbook.messages.details
---------|-------------
test-class | चाचणी वर्ग.
test-methods | धावण्याची कसोटी पद्धत.
