# test:run
ऍप्लिकेशनसाठी उपलब्ध असलेल्या चाचण्यांमधून टेस्ट युनिट चालवा.

**Usage:**
```
drupal test:run [arguments] [options]
ter
tr
```

## Available options
Option | Details
-------|-------------
--url | commands.test.run.arguments.url

## Available arguments
Argument | Details
---------|-------------
test-class | चाचणी वर्ग.
test-methods | धावण्याची कसोटी पद्धत.
