# test:run
Executar testes unitários disponíveis para a aplicação

**application.gitbook.messages.usage:**
```
drupal test:run [arguments] [options]
ter
tr
```

## application.gitbook.messages.options
application.gitbook.messages.option | application.gitbook.messages.details
-------|-------------
--url | commands.test.run.arguments.url

## application.gitbook.messages.arguments
application.gitbook.messages.argument | application.gitbook.messages.details
---------|-------------
test-class | Classe de teste
test-methods | Método(s) de teste para ser executado
