# test:run
Executar testes unitários disponíveis para a aplicação

**commands.generate.doc.gitbook.messages.usage:**
```
$ drupal test:run [arguments] [options]
$ ter  
$ tr  
```

## commands.generate.doc.gitbook.messages.options
commands.generate.doc.gitbook.messages.option | commands.generate.doc.gitbook.messages.details
-------|-------------
--url | commands.test.run.arguments.url

## commands.generate.doc.gitbook.messages.arguments
commands.generate.doc.gitbook.messages.argument | commands.generate.doc.gitbook.messages.details
---------|-------------
test-class | Classe de teste
test-methods | Método(s) de teste para ser executado
