# test:run
Executar testes unitários disponíveis para a aplicação

**Utilização:**
```
drupal test:run [arguments] [options]
ter
```

## Opções disponíveis
Opção | Detalhes
-------|-------------
--url | Test url

## Argumentos disponíveis
Argumento | Detalhes
---------|-------------
test-class | Classe de teste
test-methods | Método(s) de teste para ser executado
