# test:run
Executar testes unitários disponíveis para a aplicação

**Usage:**
```
drupal test:run [arguments] [options]
ter
tr
```

## Available options
Option | Details
-------|-------------
--url | commands.test.run.arguments.url

## Available arguments
Argument | Details
---------|-------------
test-class | Classe de teste
test-methods | Método(s) de teste para ser executado
