# test:run
Executa els Test Units disponibles per l'aplicació

**Ús:**
```
drupal test:run [arguments] [options]
ter
```

## Opcions disponibles
Opció | Detalls
-------|-------------
--url | Test url

## Arguments disponibles
Argument | Detalls
---------|-------------
test-class | Classe de verificació
test-methods | Test method(s) to be run
