# test:run
Executa els Test Units disponibles per l'aplicació

**Ús:**
```
$ drupal test:run [arguments] [options]
$ tr  
```

## Opcions disponibles
Opció | Detalls
-------|-------------
--url | commands.test.run.arguments.url

## Arguments disponibles
Argument | Detalls
---------|-------------
test-class | Classe de verificació
test-methods | Test method(s) to be run
