# test:run
El comandament **test:run** executa Executa els Test Units disponibles per l'aplicació

**Ús:**
```
$ drupal test:run [arguments] [options] 
$ tr  
```

## Opcions disponibles
Opció | Detalls
-------|-------------
--url | commands.test.run.arguments.url

## Arguments disponibles
Argument | Detalls
---------|-------------
test-class | Classe Test
