# test:run
Executa els Test Units disponibles per l'aplicació

**Usage:**
```
drupal test:run [arguments] [options]
ter
```

## Available options
Option | Details
-------|-------------
--url | Test url

## Available arguments
Argument | Details
---------|-------------
test-class | Classe de verificació
test-methods | Test method(s) to be run
