# test:run
El comandament **test:run** executa Run Test unit from tests available for application

**Ús:**
```
$ drupal test:run [arguments] [options] 
$ tr  
```

## Opcions disponibles
Opció | Detalls
-------|-------------
--url | commands.test.run.arguments.url

## Arguments disponibles
Argument | Detalls
---------|-------------
test-class | Test Class
