# test:run
The **test:run** command Run Test unit from tests available for application

**Использование:**
```
$ drupal test:run [arguments] [options] 
$ tr  
```

## Доступные опции
Опция | Описание
-------|-------------
--url | commands.test.run.arguments.url

## Доступные параметры
Параметр | Описание
---------|-------------
test-class | Test Class
