# test:run
Run Test unit from tests available for application

**Использование:**
```
drupal test:run [arguments] [options]
ter
```

## Доступные параметры
Команда | Детали
-------|-------------
--url | commands.test.run.arguments.url

## Доступные аргументы
Аргумент | Детали
---------|-------------
test-class | Test Class
test-methods | Test method(s) to be run
